{% extends 'base.html' %}
{%  block body %}
<h3>{{ product.title }}</h3>
<h4>{{ product.price }}</h4>
<h4>{{ product.image }}</h4>
<h4>{{ product.category }}</h4>

<h4>Autor</h4>
<table class="table table-hover">
    <tbody>
    {% for author in product.authors.all %}
        <tr>
            <div class="col-sm-12 col-md-12">
                <div class="conteiner-fluid">
                    <td><a href="{% url 'art:author_details' author.id %}">  {{ author }} </a></td>
                </div>
            </div>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}