{% extends 'base.html' %}

{%  block body %}


<table class="table table-hover">
    <thead>
      <tr>
            <th scope="col"></th>
            <th scope="col">Miniatura</th>
            <th scope="col">Tytuł</th>
            <th scope="col">Cena</th>
            <th scope="col">Dostępna ilość</th>
            <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for p in products %}
            <tr>
                <td><a href="{% url 'art:product_details' p.id %}"><img src="{{ p.image.url }}" alt="img"></a></td>
                <td><a href="{% url 'art:product_details' p.id %}">  {{ p.image }} </a></td>
                <td><a href="{% url 'art:product_details' p.id %}">  {{ p.title }} </a></td>
                <td><a href="{% url 'art:product_details' p.id %}">  {{ p.price }} </a></td>
                <td><a href="{% url 'art:product_details' p.id %}">  {{ p.number }} </a></td>
                <td><a href="{% url 'shop:add_to_cart' p.id %}"> <button class="btn btn-info btn-md">Dodaj do koszyka </button></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}