{% extends 'base.html' %}

{%  block body %}
<h3>{{ author }}</h3>
<h5>{{ author.birthday }}</h5>
<p>{{ author.description }}</p>
<h4>Twórczość {{ author }} </h4>
<table class="table table-hover">
    <thead>
      <tr>
            <th scope="col"></th>
            <th scope="col">Miniatura</th>
            <th scope="col">Tytuł</th>
            <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for p in author_products %}
            <tr>
                <td></td>
                <td><a href="{% url 'art:product_details' p.id %}">  miniatura </a></td>
                <td><a href="{% url 'art:product_details' p.id %}">  p.title </a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}