{% extends 'base.html' %}

{% block body %}
<h3><p> Loginowanie </p></h3>
    {% if info %}
        <div class="container">
            <div class="alert alert-danger">
                {{ info }}
            </div>
        </div>
    {% endif  %}
        {% if form.errors %}
            <p>
                logowanie nie powiodlo sie
            </p>
        {% else %}
            <p>wypelnij ponizszy formularz </p>
        {% endif %}
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <form class="form-horizontal"  method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                 <button type="submit" class="btn btn-success btn-sm">
                                     <span class="glyphicon glyphicon-plus"></span>Zapisz
                                 </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}