{% extends 'base.html' %}

{%  block body %}
<table class="table table-hover">
    </tbody>
        {% for key,value in personal_data.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% if cart %}

<table class="table table-hover">
        <thead>
          <tr>
                <th scope="col"></th>
                <th scope="col">Miniatura</th>
                <th scope="col">Tytuł</th>
                <th scope="col">Cena</th>
                <th scope="col">Zamówiona ilość</th>
                <th scope="col">Wartość</th>
                <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            {% for p in products %}
                <tr>
                    <td><img src="gallery/media/{{ p.image }}" alt="img"></td>
                    <td><a href="{% url 'art:product_details' p.id %}">  {{ p.image }} </a></td>
                    <td><a href="{% url 'art:product_details' p.id %}">  {{ p.title }} </a></td>
                    <td><a href="{% url 'art:product_details' p.id %}">  {{ p.price }} </a></td>
                    <td><a href="{% url 'art:product_details' p.id %}">  {{ p.quantity }} </a></td
                    ><td><a href="{% url 'art:product_details' p.id %}">  {{ p.value }} </a></td>
                    <td><a href="{% url 'shop:remove_from_cart' p.id %}"> <button class="btn btn-info btn-md">Usuń z koszyka</button> </a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<h5> Wartość zamówienia: {{ cart_value }}</h5>

{% if addresses %}

<form method="POST" action="{% url 'shop:make_logged_user_order' %}">
    {% csrf_token %}
    <select name="address_id">
        {% for address in addresses %}
            <option value="{{ address.id }}">{{ address }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Złóż zamówienie"class="btn btn-info btn-md"></imput>
</form>

{% endif %}
</br>
</br>
<a href="{% url 'shop:add_address' %}"> <button class="btn btn-info btn-md">Dodaj adres</button></a>



{% else %}
    <h3> Twój koszyk jest pusty.</h3>
{% endif %}



{% endblock %}
