{% extends 'base.html' %}

{%  block body %}
<p>{{ order.order_date }}</p>
<p>{{ order.address }}</p>
{% if order_products %}
    <table class="table table-hover">
        <thead>
          <tr>
                <th scope="col"></th>
                <th scope="col">Miniatura</th>
                <th scope="col">Tytuł</th>
                <th scope="col">Cena</th>
                <th scope="col">Zamówiona ilość</th>
                <th scope="col">Wartość</th>
          </tr>
        </thead>
        <tbody>
            {% for p in order_products %}
                <tr>
                    <td><a href="{% url 'art:product_details' p.product.id %}"><img src="{{ p.product.image.url }}" alt="img"></a></td>
                    <td><a href="{% url 'art:product_details' p.product.id %}">  {{ p.product.image }} </a></td>
                    <td><a href="{% url 'art:product_details' p.product.id %}">  {{ p.product.title }} </a></td>
                    <td><a href="{% url 'art:product_details' p.product.id %}">  {{ p.product.price }} </a></td>
                    <td><a href="{% url 'art:product_details' p.product.id %}">  {{ p.quantity }} </a></td
                    ><td><a href="{% url 'art:product_details' p.product.id %}">  {{ p.value }} </a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}


{% endblock %}